[submodule "frontend"]
	path = frontend
	url = https://github.com/omor-faruque/angular-universal-docker.git
[submodule "backend"]
	path = backend
	url = https://github.com/omor-faruque/angular-universal-docker-backend.git
